.imageBox
{
position: relative;
height: 300px;
width: 100%;
border:1px solid #aaa;
background: #fff;

overflow: hidden;
background-repeat: no-repeat;
cursor:move;
}

.imageBox .thumbBox
{
position: absolute;
top: 50%;
left: 50%;
width: 200px;
height: 200px;
margin-top: -100px;
margin-left: -100px;
box-sizing: border-box;
border: 1px solid rgb(102, 102, 102);
box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
background: none repeat scroll 0% 0% transparent;
}

.imageBox .spinner
{
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
text-align: center;
line-height: 400px;
background: rgba(0,0,0,0.7);
}
#btnCrop {



}
#btnZoomIn{
  margin-top: 5px;
  font-weight: bold;
  font-size: 30px;
}
#btnZoomOut{
  margin-top: 5px;
  font-weight: bold;
  font-size: 30px;
}
.none{
display: none;
}
#file{
margin-bottom: 5px;
margin-top: 5px;

}
.container1 img{
border:1px  solid #000000;
border-width: 5px;
border-radius: 3%;
margin-bottom: 2%;
margin-left: 0px;
}

input{
  border:0;
}
