<!DOCTYPE html>
<html>
	<head>
		<!--Import materialize.css-->
		<link href="../static/bower_components/materialize/dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link rel="stylesheet" type="text/css" href="../static/css/style.css">
		<link rel="stylesheet" type="text/css" href="../static/bower_components/font-awesome/css/font-awesome.min.css">
		<!--Let browser know website is optimized for mobile-->
		
		<!-- <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet"> -->
		<title>Doctor Dashboard</title>
	</head>

	<body>
		<nav class="light-blue lighten-1" role="navigation">
			<div class="container">
				<div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo"><i class="fa fa-heartbeat"></a>
					<ul class="right">
						<li><a href="#">Contact</a></li>
						<li><b>Hey, Doc!</b></li>
					</ul>
					<ul id="nav-mobile" class="side-nav">
						<li><a href="#">Contact</a></li>
					</ul>
					<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
				</div>
			</div>
			</nav>

			<br><br><br>

			<div class="container">
				<div class="row">
					<div class="col m8">
						<div class="card">
							<div class="card-content">
								<div class="card-title">
								Patient Overview
								</div>
								<div class="row">
								<div class="col s6 stat"><div class="custom-no">12</div> Medicines suggested</div><div class="col s6 stat"><div class="custom-no">2</div> Misses</div>
								<div class="col s6 stat"><div class="custom-no">3</div> Days till course completion</div><div class="col s6 stat"><div class="custom-no">2</div>Sessions held</div>
								</div>

								<div class="row">
									<div class="col s6"><a href="#prescribe" type="button" class="waves-effect waves btn orange col s12 modal-trigger"><i class="mdi-content-add"></i>Prescribe</a></div>									
									<div class="col s6"><a type="button" class="waves-effect waves btn orange modal-trigger col s12" href="#previous"><i class="mdi-content-add"></i>Preview Previous Prescription</a></div>
								</div>
								<div class="row">
									<div class="col s6"><a href="" type="button" class="waves-effect btn orange modal-trigger col s12">Contact Information</a></div>

									<div class="col s6"><a href="" type="button" class="waves-effect btn orange modal-trigger col s12">Leave a Message</a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col m4">
						<div class="card"> 
							<div class="card-image"><img src={{patInfo['photo_link']}}><div class="card-title custom-card-title">{{patInfo['username']}}</div></div>
							<div class="card-content">
								<u><b>Diseases</b></u><br>
								<p>
									Migraine
								</p>
								<u><b>Symptoms</b></u>
								<p>
									Heavy Headache<br>
									Eye Pain
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Previous Modal Structure -->
			<div id="previous" class="modal">
				<div class="modal-content">
					<h4>Previous Prescriptions</h4>
					<ul class="collapsible" data-collapsible="accordion">
						<li>
							<div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Prescription on 28-May-2016</div>
							<div class="collapsible-body">
							<p>Dolo 650 <br>Citrogen<br>Glucon-D</p>
							</div>
						</li>
						<li>
							<div class="collapsible-header"><i class="mdi-maps-place"></i>Prescription on 05-June-2016</div>
							<div class="collapsible-body"><p>Lorem Ipsum 350<br>Dolor Sit Amet 350</p></div>
						</li>
						<li>
							<div class="collapsible-header"><i class="mdi-social-whatshot"></i>Prescription on 24-July-2016</div>
							<div class="collapsible-body"><p>Vicks 250<br>Instructed to Gargle</p></div>
						</li>
					</ul>
				</div>
				<div class="modal-footer">
					<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
				</div>
			</div>

			
			<!-- Prescribe Modal Structure -->
			<div id="prescribe" class="modal">
				<div class="modal-content">
					<h4>Prescribe</h4>
					<!--<textarea></textarea>-->
					<div class="container">
					<form method="post" action="/prescribe?obId={{patInfo['_id']}}">
						<div class="row">
						<p class="range-field">
						<label for="test5">Course Duration</label>
						<input type="range" name="duration" id="test5" min="0" max="40" />
						</p>
						</div>
				<div id="med">
				<div id="updateMed">
					  <div class="row">
						  <div class="col s5">
						  <input type="text" name="med_0" placeholder="Name of the medicine"/>
						  </div>
						  <div class="col s4">
						   <input name="group_0" type="radio" id="test1" />
						  <label for="test1">Before Food</label>
						  </div>
						  <div class="col s3">
						   <input name="group_0" type="radio" id="test1" />
						  <label for="test1">After Food</label>
						  </div>
						  </div>
					  <div class="row">
					  <div class="col s4">
					  <label>Morning</label>
					  <select class="browser-default" name="Morning">
						<option value="" disabled selected>No. of tablets</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					  </select>
					  </div>  
					  <div class="col s4">
					  <label>Afternoon</label>
					  <select class="browser-default" name="Afternoon">
						<option value="" disabled selected>No. of tablets</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					  </select>
					  </div>  
					  <div class="col s4">
					  <label>Evening</label>
					  <select class="browser-default" name="Evening">
						<option value="" disabled selected>No. of tablets</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					  </select>
					  </div>
					  </div>
					  </div>
					  </div> 
					  <input type="button" value="Add another Medicine" onclick="addChild()"> 
					  <input type="submit" value="submit"/>
					  </form>
							
					</div>
				</div>
				<div class="modal-footer">
					<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">End</a>
				</div>
			</div>

			<footer class="page-footer orange">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Smartmed</h5>
						<p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


					</div>
					<div class="col l3 s12">
						<h5 class="white-text">Settings</h5>
						<ul>
							<li><a class="white-text" href="#!">Privacy</a></li>
							<li><a class="white-text" href="#!">Terms & Conditions</a></li>
							<li><a class="white-text" href="#!">Service Policy</a></li>
							<li><a class="white-text" href="#!">Media Kit</a></li>
						</ul>
					</div>
					<div class="col l3 s12">
						<h5 class="white-text">Connect</h5>
						<ul>
							<li><a class="white-text" href="#!">Facebook</a></li>
							<li><a class="white-text" href="#!">Twitter</a></li>
							<li><a class="white-text" href="#!">Linkedin</a></li>
							<li><a class="white-text" href="#!">Plus</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					&#169; Rahul Krishna
				</div>
			</div>
		</footer>

		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="../static/bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="../static/bower_components/materialize/dist/js/materialize.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
    			// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    			$('.modal-trigger').leanModal();
  			});
          
		</script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<script>
		var i=0;
		var increment=function(){
			i+=1;
			
			}	
		
		var	addChild=function(){
		increment();
		if(i>5){
			return;
			}
		var the_node=document.getElementById("updateMed");
		//console.log("children are:\n");
		//console.log(the_node.childNodes[1].childNodes[1].childNodes[1]);
		//the_node.childNodes[1].childNodes[1].childNodes[1].setAttribute("name","med_"+i);
		//var radiobuttons=document.getElementsByName("group_"+(i-1));
		//var array=[...radiobuttons];
		//radiobuttons[1].name="group_"+i;
		//for(j=0;i<array.length;j++){
		//	array[j].setAttribute("name","group_"+i);
		//	console.log(array[j]);
			//var item=radiobuttons[j];
			//item.setAttribute("name","group_"+i);
			//console.log("item_"+j);
			//console.log(item);
		//	}
		//radiobuttons[0].setAttribute("name","group_"+i);
		//radiobuttons[1].setAttribute("name","group_"+i);
		var the_clone=the_node.cloneNode(true);
		document.getElementById("med").appendChild(the_clone);
	}
	
	
		
		</script>
	</body>
</html>
